<h2>Signup</h2>

<form method="POST">
{% csrf_token %}

<input type="text" name="username" placeholder="username">
<br><br>

<input type="password" name="password" placeholder="password">
<br><br>

<button type="submit">Signup</button>

</form>

<a href="{% url 'login' %}">Already account?</a>


{% extends 'auth/base.html' %}

{% block content %}

<div class="center-box">

<h2>Signup</h2>

<form method="POST">
{% csrf_token %}

<input type="text" name="username" placeholder="Username">

<input type="password" name="password" placeholder="Password">

<button class="btn">Signup</button>

</form>

<a href="/login/">Already account?</a>

</div>

{% endblock %}