<!DOCTYPE html>
<html>
<head>
    <title>Cart</title>
</head>
<body>

<h1>🛒 Your Cart</h1>

{% for item in cart_items %}
    <div style="border:1px solid black; padding:10px; margin:10px;">
        <h3>{{ item.food_item.name }}</h3>
        <p>Price: ₹{{ item.food_item.price }}</p>
        <p>Quantity: {{ item.quantity }}</p>

        <a href="/cart/increase/{{ item.id }}/">+</a>
        <a href="/cart/decrease/{{ item.id }}/">-</a>
        <a href="/cart/remove/{{ item.id }}/">Remove</a>
    </div>
{% empty %}
    <p>Your cart is empty 🛒</p>
{% endfor %}

<hr>

<h2>Total: ₹{{ total_price }}</h2>

</body>
</html>